* {
    font-family: 'Roboto', sans-serif;
}

.header {
    flex-shrink: 0;
    height: 150px;
}

.ava {
    color: aliceblue;
}

.acc-img {
    margin: 0px 20px;
    max-width: 90px;
    max-height: 90px;
    filter: invert(100%);
}

.logo_img{
    width: 150px;
    height: 150px;
}

.links{
    width: 160px;
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    line-height: 25px;
}

.links a:link{
    color: white;
    text-decoration: none;
}

.links a:visited {
    color: white;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    filter: invert(0%);
    border-radius: 50%;
    margin-top: 10px;
}

.searching {
    height: 30px;
    min-width: 600px;
    border-radius: 15px 0px 0px 15px;
    margin-top: 30px;
    border: none;
    transition-duration: .5s;
}

.searching:focus {
    outline: none;
    background-color:rgb(217, 217, 217);
}

.command_string {
    text-align: center;
}

.command_string button {
    height: 30px;
    border-radius: 0px 15px 15px 0px;
    border-style: none;
    background-color: white;
}

.const {
    font-size: 20px;
    padding: 20px 0px 0px 100px;
    border: 2px solid black;
    border-radius: 0px 0px 0px 10px;
}

.temp {
    border: 2px solid black;
    border-radius: 0px 0px 10px 0px;
    border-right: none;
}

.sorting {
    margin: auto;
    display: inline;
}

.popular_tags, .members_title, .answers_title, .questions-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    font-style: oblique;
    margin: 40px 0px;
}

.descrip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.questions-title {
    margin: 30px 100px;
}

.question-title {
    font-size: x-large;
    display: block;
    margin: 10px 0px 10px 0px;
}

.question_likes {
    margin: 0px 0px 20px 20%;
}

.question_likes svg {
    cursor: pointer;
    border-radius: 50%;
}

.follow {
    margin: 50px 60px 40px 60px;
}

.delete_btn {
    margin-top: 20px;
}

.answer_likes {
    margin: 0px 0px 20px 20%;
}

.answer_likes svg {
    cursor: pointer;
    border-radius: 50%;
}

.likes {
    margin: 0px 0px 20px 20%;
}

.likes svg {
    cursor: pointer;
    border-radius: 50%;
}

.minus, .plus {
    transition-duration: .3s;
}

.minus:hover {
    background-color: red;
}

.plus:hover {
    background-color: yellowgreen;
}

.paginate {
    padding-left: 150px;
}

.question, .answer {
    margin: 20px 100px;
    margin-left: 100px;
    border: 1px solid darkgray;
    border-radius: 25px;
    width: 600px;
}

.best_answer {
    border: 1px solid darkgray;
    border-radius: 25px;
    width: 400px;
    margin-bottom: 50px;
}

.question-img, .answer-img {
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 15px 20px;
    border-radius: 50%;
}

.pop_tags span {
    border-radius: 10px;
    padding: 5px;
    font-weight: 100;
    font-size: large;
    margin-right: 25px;
    margin-bottom: 20px;
    display: inline-block;
    transition-duration: .3s;
}

.pop_tags span:hover {
    transform: scale(1.2, 1.2);
}

.pop_tags a:link {
    color: black;
    text-decoration: none;
}

.pop_tags a:visited {
    color: black;
    text-decoration: none;
}

.pop_tags div {
    text-align: left;
}

.members {
    line-height: 40px;
}

main {
    margin-bottom: 100px;
}

.main_question .likes {
    margin: 20px 0px 50px 10%;
    transform: scale(2, 2);
    text-align: center;
}

.main_question .question-title {
    font-size: 40px;
    font-weight: 700;
}

.main_question .avatar {
    width: 200px;
    height: 200px;
}

.main_question {
    border-bottom: 2px solid darkgray;
    flex-shrink: 0;
    background-color: antiquewhite;
}

.main_question .question-text {
    margin: 25px 40px 30px 10px;
}

.main_question .tags {
    margin: 10px 40px;
}

.title_edit {
    font-size: 50px;
    font-weight: large;
    font-style: italic;
    margin: 40px 0px 0px 60px;
}

.go_back {
    float: right;
}

.form_edit {
    margin: 50px 60px 20px 60px;
}

.explain {
    margin: 20px 0px;
}

.helping {
    color:cadetblue;
    margin: 0px 1px;
    display: inline;
}

.yes, .no {
    cursor: pointer;
}

.my_answer {
    margin: 20px 100px;
    margin-left: 100px;
    width: 600px;
    padding: 10px 10px;
}

.my_answer textarea {
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid darkblue
}

.my_answer button {
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 10px;
    width: 100px;
    transition-duration: .3s;
}

.my_answer button:hover {
    background-color: darkblue;
    color: white;
}

button#ask_question {
    border-radius: 2px;
    background-color: green;
    width: 100px;
    margin-top: 40px;
}

.profile {
    margin: 60px 60px 20px 60px;
}

.profile button {
    margin: 80px 0px 0px 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.new_hot_q {
    border-radius: 10px;
    width: 50px;
    height: 30px;
    border: 1px solid darkblue;
    transition-duration: 0.2s;
    background-color: white;
}

.new_hot_q:hover {
    background-color: darkblue;
    color: white;
}

.ask_question {
    margin-left: 50px;
    width: 70%;
}

.ask_question .title {
    font-size: 58px;
    margin-bottom: 70px;
}

#new_question_text {
    resize: none;
}

.successing {
    float: right;
}

.login {
    margin: 20px 30px;
}

.login_title {
    font-size: 58px;
    margin-bottom: 50px;
}