{% extends 'layouts/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<div class="col-8 temp">
    <div class="ask_question">
        <div class="title">
            New question
        </div>
        <div class="form">
            <form method="post" class="mb-3">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">Ask!</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}