
{% extends 'layouts/base.html' %}
{% load static %}
{% load filters %}

{% block content %}
<div class="col-8 temp">
    <div class="questions">
        <div class="row">
            <div class="questions-title col-5">
                My questions
            </div>
        </div>

        {% for question in questions %}

        <div class="question">
            <div class="row">
                <div class="col-2" style="text-align: center;">
                    <a href="{% url 'profile' profile_id=request.user.profile.id %}">
                        {% if profile.avatar %}
                        <img src=" {{profile.avatar.url}} " alt="Avatar" class="question-img">
                        {% else %}
                        <img src=" uploads/acc.png " alt="Avatar" class="question-img">
                        {% endif %}
                    </a><br>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-9">
                        <a href="{% url 'question' question_id=question.id %}" class="question-title"> {{ question.title }} </a>
                        </div>
                        {% if request.user.profile == question.author_id %}
                        <div class="col-3 delete_question" data-id="{{question.id}}">
                            <button type="button" class="btn btn-danger delete_btn">Delete</button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="descrip mb-5">
                        {{ question.description }}
                    </div>
                    <div class="tags row">
                        <div class="col-8">
                            Answers({{answers|index:forloop.counter0}})
                        </div>
                        <div class="col-4">
                            Tags({{ tags|index:forloop.counter0|length }}):
                            {% for t in tags|index:forloop.counter0 %}
                                <a href="{% url 'tag' tag_name=t %}">{{ t }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        {% include 'components/paginatePages.html' %}

    </div>
</div>
{% endblock %}