
{% extends 'layouts/base.html' %}
{% load static %}
{% load filters %}

{% block content %}
<div class="col-8 temp">
    <div class="questions">
        <div class="row">
            <div class="questions-title col-5">
                My questions
            </div>
        </div>

        {% for question in questions %}

        <div class="question">
            <div class="row">
                <div class="col-2" style="text-align: center;">
                    {% include 'components/likes.html' with profile=request.user.profile rating=question.rating %}
                </div>
                <div class="col-10">
                    <a href="{% url 'question' question_id=question.id %}" class="question-title"> {{ question.title }} </a>
                    <div class="descrip">
                        {{ question.description }}
                    </div>
                    <div class="tags row">
                        <div class="col">
                            Answers({{answers|index:forloop.counter0}})
                        </div>
                        <div class="col">
                            Tags({{ tags|index:forloop.counter0|length }}):
                            {% for t in tags|index:forloop.counter0 %}
                                <a href="{% url 'tag' tag_name=t %}">{{ t }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        {% include 'components/paginatePages.html' %}

    </div>
</div>
{% endblock %}