{% extends 'layouts/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<div class="col-8 temp">
    <div class="login">
        <form method="post" class="mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success">Sign up</button>
        </form>
        <a href="{% url 'login' %}"><button type="button" class="btn btn-success">Or log in</button></a>
    </div>
</div>

{% endblock %}